.Chart {
  height: 3em;
}

.Chart-fill {
  display: block;
  height: 100%;
  background-color: $red700;
  text-align: right;
  transition: width 1s ease, background-color 1s ease;
}

.Chart-fill.is-ok {
  background-color: $green500;
}

.Chart-percentDesc {
  margin: 1ex;
}
